@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind variants; */
body {
    font-family: 'inter', sans-serif;
}

.navbar-fixed {
 @apply fixed z-[99999] bg-black bg-opacity-80; 
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -px 0 0 rgba(0, 0, 0, 0.1);
    border-bottom: none;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-yellow-500
}



.hamburger-active > span:nth-child(1) {
 @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
 @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
 @apply -rotate-45;
}

.hero-icon {
   @apply transition duration-300 ease-in-out hover:text-yellow-500
}

.card {
    @apply w-80 h-full bg-white shadow-lg py-4 px-4 my-6 mx-4 rounded hover:shadow-2xl transition duration-300
}

.card-img {
    @apply w-72 h-52 rounded
}

.card-h1 {
    @apply font-bold py-3
}

.card-desc {
    @apply flex gap-1 items-center
}

.card-icon {
    @apply my-2 p-1
}

.card-p {
    @apply bg-yellow-500 rounded w-auto p-1 text-xs m-2
}

.contact-desc {
    @apply flex gap-2 items-center 
}